input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.1s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.1s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.1s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.1s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.1s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.1s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.1s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.1s ease;}

.svg-span {
    text-align: center;
    margin-left: 5px;
    cursor: pointer;
}